#home {

    h1,h2,h3,h4,h5 {
        font-family: 'filson-soft';
        font-weight: 400
    }

    .hero {
        margin-top : -78.50px;
        background-color: $background;

        @media( max-width: $sm ) {
            margin-top: -144px;
        }

        .content {
            position: relative;
            padding-left: 64px;
            padding-right: 49px;
            bottom : -78.50px;

            @media( max-width: $sm ) {
                padding-left: 0px;
                padding-right: 0px;
            }

            .title {
                margin-top: 116px;
                padding: 0px;

                @media( max-width: $sm ) {
                    padding-left: 16px;
                    padding-right: 16px;
                }

                h1 {
                    font-family: 'filson-soft';
                    font-weight: 900 !important;
                    font-size: 48px !important;
                    line-height: 48px !important;
                }

                .title_up {
                    color: $primary;
                }

                .title_down {
                    color: $textcolor;
                }
            }

            .subtitle {
                margin-top: 32px;
                font-family: 'Inter';
                font-size: 18px;
                color: #4A4A4A;
                line-height: 21.78px;
                font-weight: 500;

                @media( max-width: $sm ) {
                    margin-top: 47px;
                }
            }

            .image-container {
                padding-left: 20px;
                padding-right: 0px !important;

                @media( max-width: $md ) {
                    padding-left: 0px !important;
                    padding-right: 6px !important;
                }

                .image {
                    height: max-content;
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    margin: 50px auto 10px 0px;
                    max-width: 415px;
                    float: right;

                    @media( max-width: $md ) {
                        float: unset;
                        margin: 50px auto 10px auto;
                    }

                    .lottie {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        margin: unset;
                        max-width:54%;
                        height: auto;
                        text-align:left;
                        z-index: 2;
                    }

                    img {
                        float:right;
                        bottom: 0px;
                        margin-top: 12%;
                        width: 70%;
                        height: auto;
                        z-index: 1;
                    }
                }
            }

            .buttons_stores{
                margin-top: 15px;
            }

            .play_store {
                margin-top: 30px;
                font-family: 'Inter';
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0em;
                color: $textcolor;
/*
                @media( max-width: $md ) {
                    display: none;
                }*/

                .google_play_button, .app_store_button {
                    margin-top: 15px;
                    img {
                        width: 162px;
                        height: 48px;
                    }
                }

                .app_store_button img{
                    height: 50px;
                }
            }
        }
    }

    .hello {
        background-color: white;
        padding-top: 186.63px;

        @media( max-width: $md ) {
            padding-top: 130.3px;
        }

        .title {
            height: 64.32px;
            font-family: 'filson-soft';
            font-size: 32px;
            font-weight: 600;
            line-height: 32px;
            text-align: center;
            color: $textcolor;

            @media( max-width: $md ) {
                height: 32px;
                font-size: 24px;
            }
        }

        .subtitle {
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 300;
            line-height: 23.44px;
            text-align: center;
            color: #000000;
            margin: 0px 52px;

            @media( max-width: $sm ) {
                font-size: 16px;
                line-height: 18.75px;
                margin: 0px 23px;
            }
        }

        .onboarding {
            padding: 74px 8px 135px 8px;
            display: flex;
            justify-content: center;
            margin: 0px;

            @media( max-width: $md ) {
                padding-top: 31px;
                padding-bottom: 20px;
            }

            .onboarding-item {
                max-width: 268px;
                height: 204px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 0px 16px;

                @media( max-width: 767px ) {
                    // max-width: 236px;
                    margin-top: 56px;

                    @media( max-width: $sm) {
                        &:first-child, &:nth-child(2) {
                            margin-top: 0px;
                        }
                    }

                    @media( max-width: 551px ) {
                        &:not( :first-child ) {
                            margin-top: 56px !important;
                        }
                    }
                }

                .onboarding-item-icon {
                    img {
                        height: 96px;
                        width: 96px;
                    }
                }

                .onboarding-item-title {
                    font-family: 'filson-soft';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
                    text-align: center;
                    color: #4A4A4A;
                }

                .onboarding-item-subtitle {
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: center;
                    color: $textcolor;
                    padding: 0px 16px;

                    @media( max-width: $sm ) {
                        padding: 0px;
                    }
                }
            }
        }
    }

    > .cta {
        background-color: $background;
        padding: 0px 16px;

        .title {
            margin-top: 68px;
            font-family: 'filson-soft';
            font-size: 32px;
            font-weight: 600;
            line-height: 31.97px;
            text-align: left;
            color: $textcolor;
            text-align: center;

            @media( max-width: $sm ) {
                margin-top: 96px;
                font-size: 24px;
                line-height: 24.02px;
            }
        }

        .subtitle {
            max-width: 572px;
            margin: 12px auto 0px;
            font-family: 'Inter';
            font-size: 18px;
            font-weight: 400;
            line-height: 21.78px;
            text-align: center;
            color: #2C3747;

            @media( max-width: $sm ) {
                font-size: 16px;
                line-height: 19.36px;
            }
        }

        .cta {
            display:inline;
        }

        .cta > form {
            margin-top: 32px;
            display: flex;
            justify-content: center;

            @media( max-width: $sm ) {
                flex-direction: column;
                align-items: center;
            }

            input {
                background: #FFFFFF;
                border: 2px solid #EEEEF2;
                box-sizing: border-box;
                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
                border-radius: 28px 0px 0px 28px;
                width: 344px;
                height: 56px;
                margin: 0px 4px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 10px 16px 10px 24px;

                @media( max-width: $sm ) {
                    width: 288px;
                    border-radius: 28px;
                    margin: 0px;

                }

            }

            .button {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px 24px 0px 16px;

                width: 173px;
                height: 56px;
                background: $secondary;
                border-radius: 0px 28px 28px 0px;
                font-family: 'Inter';
                font-size: 16px;
                line-height: 19.36px;
                flex: none;
                order: 1;
                flex-grow: 0;
                border: unset;

                @media( max-width: $sm ) {
                    padding: 0px 24px 0px 24px;
                    margin-top: 16px;
                    max-width: 181px;
                    width: 100%;
                    border-radius: 28px;
                    margin-left: auto;
                    margin-right: auto;
                    justify-content: center;
                }
            }
        }

        .cta-message {
            margin-top: 6px;
            color: $textcolor;
            margin-bottom: 48px;
            height: 20px;
            text-align: center;

            @media( max-width: $sm ) {
                margin-bottom: 57px;
            }
        }
    }

    .testimonials {
        background: linear-gradient(111.5deg, #1AAAA9 0%, #198C9B 63.68%);
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .testimonial-item {
                padding: 235px 16px 171.28px 16px;
                height: 600px;
                position: relative;

                @media( max-width: $sm ) {
                    padding: 126px 28px 43.28px;
                    height: 408px;
                }

                .testimonial-item-text {
                    font-family: 'Inter';
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 29.05px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: white;

                    @media( max-width: $sm ) {
                        font-size: 16px;
                        line-height: 19.36px;
                    }
                }

                .testimonial-item-author {
                    padding-top: 24px;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19.36px;
                    letter-spacing: 0.1em;
                    text-align: center;
                    color: #EEEEF2;

                    @media( max-width: $sm ) {
                        font-size: 14px;
                        line-height: 16.94px;
                    }
                }

                .testimonial-item-icon {
                    text-align: right;
                    position: absolute;
                    right: 0px;
                    bottom: 25%;

                    @media( max-width: $sm ) {
                        bottom: 10%;
                    }

                    img {
                        width: 62.07px;
                        height: 50.72px;

                        @media( max-width: $sm ) {
                            margin-top: 35.72px;
                            width: 58.74px;
                            height: 48px;
                            margin-right: 0px;
                        }
                    }
                }
            }

            .arrow {
                height: 56px;
                width: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                @media( max-width: $sm ) {
                    height: 32px;
                    width: 32px;

                    &:first-child {
                        padding-left: 16px;
                    }

                    &:last-child {
                        padding-right: 16px;
                    }
                }

                img {
                    width: 16px;
                    height: 30px;
                    position: relative;

                    @media( max-width: $sm ) {
                        height: 20px;
                        width: 10px;
                    }

                }
            }
        }
    }

    .known {
        overflow: hidden;
        max-width: 1024px;
        margin: auto;

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;

            @media( max-width: $md ) {
                flex-direction: column-reverse;
                margin-top: 100px;
            }

            .known-image {
                padding: 0px;
                max-width: 517px;
                width: 50%;
                padding-bottom: 57px;

                @media( max-width: $md ) {
                    padding: 0px 14px 57px;
                    margin-top: 24px;
                    width: 100%;
                }

                img {
                    width: 100%;

                    &.mobile {
                        display: none;
                    }

                    @media( max-width : $sm ) {
                        display: none;

                        &.mobile {
                            display: block;
                        }
                    }
                }
            }

            .known-content {
                padding : 0px;
                max-width: 409.43px;
                width: 100%;
                margin-top: 0px;
                margin-left: -15px;

                @media( max-width: $md ) {
                    margin-top: -38px;
                    margin-left: 0px;
                    padding: 0px 16px;
                }

                .known-content-title {
                    font-family: 'Inter';
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 29px;
                    text-align: left;
                    color: $textcolor;
                }

                .known-content-text {
                    margin-top: 28px;
                    font-family: 'Inter';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    text-align: left;
                    letter-spacing: 0.6;
                    color: #4A4A4A;
                }

                .buttons_stores{
                    margin-top: 15px;
                }

                .play_store {
                    margin-top: 48px;
                    font-family: 'Inter';
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: 0em;
                    color: $textcolor;
                    margin-bottom: 48px;

/*                    @media( max-width: $md ) {
                        display: none;
                    }
    */
                    .google_play_button, .app_store_button {
                        margin-top: 15px;
                        img {
                            width: 162px;
                            height: 48px;
                        }
                    }

                    .app_store_button img{
                        height: 50px;
                    }
                }

            }

        }

        .known_dots {
            max-width: 613px;
            margin-left: auto;
            margin-right: 0px;
            padding-right: 12px;
            margin-bottom: 14.68px;

            @media( max-width: $md ) {
                padding-left: 33%;
            }

            img {
                width: auto;
                height: 38px;
            }
        }

    }


    .questions {

        .content {
            max-width: unset;
            position: relative;

            @media( max-width: $md ) {
                height: unset;
            }

            .question {
                z-index: 1;
                font-family: 'Inter';
                font-size: 24px;
                font-weight: 700;
                line-height: 29px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: $secondary;
                transition: 0.5s ease;
                height: 100px;

                .more {
                    margin-top: 40px;
                    font-size: 16px;
                    font-weight: 500;
                }
/*
                &:hover {
                    background-color: $secondary;

                    .more {
                        text-decoration: underline;
                    }
                }*/

                @media( max-width: $md ) {
                    height: 100px;
                    font-size: 20px;
                    line-height: 24.2px;
                }

                @media( max-width: $sm ) {
                    padding: 32px !important;
                }

            }

            .carousel {
                width: 100%;

                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                z-index: 2;

                .slide {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }

                .agile__nav-button{
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0px;
                    transition-duration: .3s;
                    height: 32px;
                    margin: auto;
                    width: 26px;
                    filter: invert(42%) sepia(82%) saturate(464%) hue-rotate(138deg) brightness(71%) contrast(66%);

                    @media( max-width: $md ) {
                        width: 22px;
                    }

                    &.agile__nav-button--prev {
                        left: 20px;

                        @media( max-width: $md ) {
                            left: 0px;
                        }
                    }

                    &.agile__nav-button--next {
                        right: 20px;

                        @media( max-width: $md ) {
                            right: 0px;
                        }
                    }

                    img {
                        width: 100%;
                    }
                }

                .agile__dots {
                    display: none;
                }
            }
            .answer {
                padding: 3% 8%;
                width: 100%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all ease-in 0.3s;
                z-index: 0;

                @media( max-width: $md ) {
                    margin-top: 12px;
                    padding: 16px 32px;
                    height: 400px;
                    flex-direction: column;

                    &.reversible {
                        flex-direction: column-reverse;
                    }

                }

                .answer-image {
                    padding: 0px;
                    max-width: 320px;
                    max-height: 320px;
                    width: 100%;

                    @media( max-width: $sm ) {
                        max-width: unset;
                        max-height: unset;
                        position: relative;
                        top: 30px;
                        margin-top: -70px;
                        text-align: center;
                    }

                    img {
                        width: 100%;

                        @media( max-width: $sm ) {
                            width: auto;
                            height: 170px;
                            margin-bottom: 20px;
                        }
                    }
                }

                .answer-content {
                    padding: 0px;
                    margin-right: 30px;

                    @media( max-width: $sm ) {

                    }

                    .answer-content-title {
                        font-family: 'filson-soft';
                        font-size: 26px;
                        font-weight: 400;
                        line-height: 26px;
                        text-align: left;
                        color: $textcolor;

                        @media( max-width: $sm ) {

                        }
                    }

                    .answer-content-text {
                        margin-top: 16px;
                        font-family: 'Inter';
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 22px;
                        text-align: left;
                        color: #4A4A4A;
                        max-width: 396px;

                        @media( max-width: $sm ) {
                            font-size: 14px;
                            line-height: 17px;
                            max-width: 396px !important;
                        }
                    }

                    .answer-content-link {
                        margin-top: 16px;
                        font-family: 'Inter';
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 20px;
                        width: fit-content;
                        text-align: left;
                        color: $primary;
                        cursor: pointer;

                        @media( max-width: $sm ) {
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }

                    .answer-content-link:hover{
                        border-bottom: 2px solid $primary;
                    }

                }

                .answer-close {
                    position: absolute;
                    right: 16px;
                    top: 6px;
                    font-size: 36px;
                    color: $textcolor;
                    opacity: 0.5;
                }
            }

        }
    }

    .resume {

        .content {
            padding-top:75px;

            @media( max-width: $sm ) {
                padding-left: 16px;
                padding-right: 16px;
            }

            .resume-item {
                justify-content: center;
                margin: 0px;
                display: flex;
                flex-direction: row;
                padding-top: 24px;

                @media( max-width: $md ) {
                    align-items: center;
                    &.reversible {
                        flex-direction: column-reverse;
                    }

                }

                .resume-item-image {
                    max-height: 320px;
                    max-width: 320px;
                    text-align: right;
                    padding: 0px;
                    img {
                        width: 100%;
                    }

                    @media( max-width: $md ) {
                        padding-top: 10px !important;
                        margin: 40px auto 20px auto;
                    }
                }

                .resume-item-content {
                    padding: 18px 0px 0px 0px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    max-width: 422px;

                    @media( max-width: $md ) {
                        padding: 18px 0px 0px 0px !important;
                    }

                    .resume-item-content-title {
                        font-family: 'filson-soft';
                        font-size: 26px;
                        font-weight: 550;
                        line-height: 26px;
                        text-align: left;
                        color: $textcolor;
                        padding-right: 10px;
                    }

                    .resume-item-content-text {
                        margin-top: 16px;
                        font-family: 'Inter';
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: left;
                        color: #4A4A4A;
                    }
                }

            }

        }

    }

    .cta2 {
        padding-top: 36px;
        background-color: $background;
        padding-left: 16px;
        padding-right: 16px;

        .title {
            margin-top: 68px;
            font-family: 'Inter';
            font-size: 32px;
            font-weight: 900;
            line-height: 39px;
            text-align: center;
            color: $textcolor;

            @media( max-width: $sm ) {
                font-size: 24px;
                line-height: 29.05px;
                margin-top: 90px;
            }
        }

        .subtitle {
            max-width: 572px;
            margin: 28px auto 0px;
            font-family: 'Inter';
            font-size: 18px;
            font-weight: 400;
            line-height: 21.78px;
            text-align: center;
            color: #2C3747;

            @media( max-width: $sm ) {
                margin: 14px auto 0px;
            }
        }

        .cta {
            display:inline;
        }

        .cta > form {
            margin-top: 24px;
            display: flex;
            justify-content: center;

            @media( max-width: $sm ) {
                margin-top: 34px;
                flex-direction: column;
                align-items: center;
            }

            input {
                background: #FFFFFF;
                border: 2px solid #EEEEF2;
                box-sizing: border-box;
                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
                border-radius: 28px 0px 0px 28px;
                width: 344px;
                height: 56px;
                margin: 0px 4px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 10px 16px 10px 24px;

                @media( max-width: $sm ) {
                    width: 288px;
                    margin: 0px;
                    border-radius: 28px;
                    padding: 10px 16px;
                }
            }

            button {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px 24px 0px 16px;

                width: 173px;
                height: 56px;
                background: $secondary;
                border-radius: 0px 28px 28px 0px;
                font-family: 'Inter';
                font-size: 16px;
                line-height: 19.36px;
                flex: none;
                order: 1;
                flex-grow: 0;
                border: unset;

                @media( max-width: $sm ) {
                    margin-top: 16px;
                    border-radius: 28px;
                    margin-left: auto;
                    margin-right: auto;
                    justify-content: center;
                }
            }
        }

        .cta-message {
            margin-top: 6px;
            color: $textcolor;
            margin-bottom: 85px;
            height: 20px;
            text-align: center;

            @media( max-width: $sm ) {
                margin-bottom: 29px;
            }
        }
    }


  .cPSmpo{
    position: fixed;
  }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }
